<div>
  <h2>5/3/1 Training Max Worksheet</h2>
  <p>
    For more info checkout <a href="https://github.com/ryanlabouve/five-3-1">ryanlabouve/five-3-1.</a>
  </p>
  <h3>Lift Maxes:</h3>
  <div style="float:left;">
    <p>Squat</p>
    {{input value=squatMax}}
  </div>
  <div style="float:left;">
    <p>Deadlift</p>
    {{input value=deadliftMax}}
  </div>
  <div style="float:left;">
    <p>Press</p>
    {{input value=pressMax}}
  </div>
  <div style="float:left;">
    <p>bench</p>
    {{input value=benchMax}}
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>
{{#main-app
  tms=tms
  as |config|
}}
  {{li-ft
    name="squat"
    max=squatMax
    tms=config.tms
    }}

  {{li-ft
    name="deadlift"
    max=deadliftMax
    tms=config.tms
    }}

  {{li-ft
    name="press"
    max=pressMax
    tms=config.tms
    }}

  {{li-ft
    name="bench"
    max=benchMax
    tms=config.tms
    }}
{{/main-app}}
