<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-100-ns">
      <h2>5/3/1 Training Max Worksheet</h2>
      <div style="column-count: 2;">
        <p class="lh-copy mv0" >
          5/3/1 is a training methodology, developed by Jim Wendler. It aims to deliver sustainable strength progress using large multi-joint movements (squats, deadlifts, bench, etc) though the lifetime of a lifter.
        </p>
        <p>
          To learn more about 5/3/1, I recommend grabbing a copy of <a href="https://jimwendler.com/products/5-3-1-forever-hard-copy">5/3/1 Forever</a>
        </p>
        <p>
          For more info checkout <a href="https://github.com/ryanlabouve/five-3-1">ryanlabouve/five-3-1.</a>
        </p>
      </div>
      <h3 class="mb0">1RM's:</h3>
      <div class="cf">
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p class="mb1">Squat</p>
          {{input  class="input-reset ba b--black-20 pa2 mb2 db w-100" value=squatMax}}
          <div class="mt1 f6">
            {{bump-max
              bumpMaxAction=(action (mut squatMax))
              currentMax=squatMax
              bumpBy=-2.5
              }} /
            {{bump-max
              bumpMaxAction=(action (mut squatMax))
              currentMax=squatMax
              bumpBy=2.5
              }}
            {{bump-max
              bumpMaxAction=(action (mut squatMax))
              currentMax=squatMax
              bumpBy=5
              }}
            {{bump-max
              bumpMaxAction=(action (mut squatMax))
              currentMax=squatMax
              bumpBy=10
              }}
          </div>
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p class="mb1">Deadlift</p>
          {{input  class="input-reset ba b--black-20 pa2 mb2 db w-100" value=deadliftMax}}
          <div class="mt1 f6">
            {{bump-max
              bumpMaxAction=(action (mut deadliftMax))
              currentMax=deadliftMax
              bumpBy=-2.5
              }} /
            {{bump-max
              bumpMaxAction=(action (mut deadliftMax))
              currentMax=deadliftMax
              bumpBy=2.5
              }}
            {{bump-max
              bumpMaxAction=(action (mut deadliftMax))
              currentMax=deadliftMax
              bumpBy=5
              }}
            {{bump-max
              bumpMaxAction=(action (mut deadliftMax))
              currentMax=deadliftMax
              bumpBy=10
              }}
          </div>
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p class="mb1">Press</p>
          {{input class="input-reset ba b--black-20 pa2 mb2 db w-100"  value=pressMax}}
          <div class="mt1 f6">
            {{bump-max
              bumpMaxAction=(action (mut pressMax))
              currentMax=pressMax
              bumpBy=-2.5
              }} /
            {{bump-max
              bumpMaxAction=(action (mut pressMax))
              currentMax=pressMax
              bumpBy=2.5
              }}
            {{bump-max
              bumpMaxAction=(action (mut pressMax))
              currentMax=pressMax
              bumpBy=5
              }}
            {{bump-max
              bumpMaxAction=(action (mut pressMax))
              currentMax=pressMax
              bumpBy=10
              }}
          </div>
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p class="mb1">Bench</p>
          {{input class="input-reset ba b--black-20 pa2 mb2 db w-100" value=benchMax}}
          <div class="mt1 f6">
            {{bump-max
              bumpMaxAction=(action (mut benchMax))
              currentMax=benchMax
              bumpBy=-2.5
              }} /
            {{bump-max
              bumpMaxAction=(action (mut benchMax))
              currentMax=benchMax
              bumpBy=2.5
              }}
            {{bump-max
              bumpMaxAction=(action (mut benchMax))
              currentMax=benchMax
              bumpBy=5
              }}
            {{bump-max
              bumpMaxAction=(action (mut benchMax))
              currentMax=benchMax
              bumpBy=10
              }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#main-app
    tms=tms
    as |config|
  }}
    <div class="cf">
      {{li-ft
        name="squat"
        max=squatMax
        tms=config.tms
        }}

      {{li-ft
        name="deadlift"
        max=deadliftMax
        tms=config.tms
        }}

      {{li-ft
        name="press"
        max=pressMax
        tms=config.tms
        }}

      {{li-ft
        name="bench"
        max=benchMax
        tms=config.tms
        }}
    </div>
  {{/main-app}}
</div>
