<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-100-ns">
      <h2>5/3/1 Training Max Worksheet</h2>
      <p>
        For more info checkout <a href="https://github.com/ryanlabouve/five-3-1">ryanlabouve/five-3-1.</a>
      </p>
      <h3 class="mb0">1RM's:</h3>
      <div class="cf">
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p>Squat</p>
          {{input value=squatMax}}
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p>Deadlift</p>
          {{input value=deadliftMax}}
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p>Press</p>
          {{input value=pressMax}}
        </div>
        <div class="fl pa3-ns w-100 w-25-ns ">
          <p>bench</p>
          {{input value=benchMax}}
        </div>
      </div>
    </div>
  </div>
  {{#main-app
    tms=tms
    as |config|
  }}
    <div class="cf">
      {{li-ft
        name="squat"
        max=squatMax
        tms=config.tms
        }}

      {{li-ft
        name="deadlift"
        max=deadliftMax
        tms=config.tms
        }}

      {{li-ft
        name="press"
        max=pressMax
        tms=config.tms
        }}

      {{li-ft
        name="bench"
        max=benchMax
        tms=config.tms
        }}
    </div>
  {{/main-app}}
</div>
