<div class="fl w-100 pa3-ns w-25-ns lh-copy">
  <h1 class="tc">{{name}}</h1>
  <table class="w-100 collapse mb5">
    <thead>
      <tr>
        <td class="bb b--black-30 pv1">
          Training max
        </td>
        <td class="bb b--black-30 pv1 tr">
          Weight
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each tms as |tm|}}
        <tr>
          <td class="bb b--black-05 pv1 f6">
            {{tm}}
          </td>
          <td class="bb b--black-05 pv1 tr f6">
            {{floor (mult tm max)}}
          </td>
        </tr>
      {{else}}
        No trianing maxes
      {{/each}}
    </tbody>
  </table>

  {{#each tms as |tm|}}
    <h2 class="tc">{{name}} — TM {{tm}}</h2>
    <table class="w-100 lh-copy collapse mb5">
      <tr>
        <td class="bb b--black-30 pv1">
          Training Percentage
        </td>
        <td class="bb b--black-30 pv1 tr">
          Weight
        </td>
      </tr>
      {{#each tps as |tp|}}
        <tr>
          <td class="bb b--black-05 pv1 f6">
            {{tp}}
          </td>
          <td class="bb b--black-05 pv1 tr f6">
            {{floor (mult (mult tm max) tp)}}
          </td>
        </tr>
      {{/each}}
    </table>
  {{/each}}
</div>
